html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

h1, h2, h3, h4, h5, h6, ul, li, p, figure, fieldset {
  margin: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  display: block; }

html {
  font-size: 62.5%; }

ul {
  list-style: none; }

fieldset {
  border: none; }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

h1,
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-size: 6rem; }

p, label {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold; }

input, select {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #093637;
  font-size: 1.8rem;
  border: none;
  background: white;
  border-radius: 5px;
  padding: 15px 50px 15px 10px; }

select {
  appearance: none;
  background-image: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png);
  background-repeat: no-repeat;
  background-position: 95% center; }

.App__header {
  text-align: center;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.App__main {
  background: linear-gradient(to bottom, #9DD9D2, #426866);
  padding: 30px 0; }

.App__dashboard {
  padding: 30px;
  background: linear-gradient(to bottom, #4E9193, #07242D);
  margin-bottom: 50px;
  border-radius: 20px; }

.App__dashboardSelectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px; }

.App__dashboardBaseContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 90px;
  background: linear-gradient(to bottom, #213E3F, #07242D);
  border-radius: 10px; }

.App__dashboardDisplayContainer {
  display: flex;
  flex-direction: column;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 25px 0; }

.App__dashboardDisplay {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 25px 0; }

.App__dashboardDisplayText {
  text-align: center; }

.App__dashboardDisplayUpdate {
  text-align: center; }

.App__dashboardBase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.App__dashboardBaseImage, .App__conversionImage {
  margin-bottom: 5px;
  height: 75px;
  width: 100px;
  background-size: cover;
  background-position: center; }

.App__dashboardBaseText {
  text-align: center; }

.App__dashboardSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }

.App__baseSelectLabel {
  margin-bottom: 20px;
  text-decoration: underline;
  text-align: center; }

.App__dashboardHeading, .App__conversionHeading {
  text-align: center;
  margin-bottom: 35px; }

.App__conversion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  background: linear-gradient(to top, #4E9193, #07242D); }

.App__conversionFormResults {
  display: flex; }

.App__conversionForm {
  display: flex;
  flex-direction: column;
  margin-right: 25px; }

.App__conversionFormInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px; }

.App__conversionFormLabel {
  margin-top: 5px;
  padding-left: 10px;
  align-self: flex-start;
  font-size: 1.6rem;
  margin-bottom: 5px; }

.App__conversionImage {
  height: 56px;
  width: 75px;
  align-self: center; }

.App__conversionResults {
  flex: 3 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #213E3F, #07242D);
  border-radius: 20px; }

.App__conversionResultsFrom {
  margin-bottom: 10px;
  text-align: center; }

.App__conversionResultsTo {
  font-size: 4rem;
  text-align: center;
  word-wrap: break-word; }

.App__conversionResultsTo--Small {
  font-size: 2rem;
  text-align: center; }

.App__conversionResultsRate {
  font-size: 1.6rem;
  margin-top: 25px;
  text-align: center; }

.App__footer {
  padding: 10px 0;
  background: #07242D; }

.App__footerText {
  text-align: center;
  color: white;
  text-transform: none; }
  .App__footerText a {
    text-decoration: underline;
    color: white; }

@media (max-width: 1200px) {
  .App__conversionFormResults {
    flex-direction: column; }
  .App__conversionForm {
    margin-right: 0; }
  .App__conversionResults {
    padding: 100px 0; }
  input, select {
    width: 100%; }
  select {
    background-position: 98% center; } }

@media (max-width: 900px) {
  .wrapper {
    width: 95%; }
  .App__dashboardDisplay {
    flex-wrap: wrap; }
  .App__dashboardDisplayList {
    width: 33.33%;
    margin-bottom: 30px; }
    .App__dashboardDisplayList:nth-of-type(n+4) {
      margin-bottom: 0; } }

@media (max-width: 750px) {
  .App__conversionResultsTo {
    font-size: 3rem; }
  .App__dashboard {
    padding: 15px; }
  .App__conversion {
    padding: 15px; } }

@media (max-width: 650px) {
  .App__dashboardBaseContainer {
    padding: 30px 40px; } }

@media (max-width: 550px) {
  .App__conversionResultsTo {
    font-size: 2.5rem; } }

@media (max-width: 450px) {
  h2 {
    font-size: 4rem; }
  .App__dashboardDisplayList {
    width: 50%;
    margin-bottom: 30px; }
    .App__dashboardDisplayList:nth-of-type(n+5) {
      margin-bottom: 0; }
  .App__dashboardBaseContainer {
    padding: 15px 20px; }
  p, label, select, input {
    font-size: 1.6rem; }
  input, select {
    padding: 15px 30px 15px 10px; }
  .App__conversionResultsTo {
    font-size: 2.2rem; } }

@media (max-width: 400px) {
  .App__conversionResultsTo {
    font-size: 2rem; } }
